<mat-form-field>
  <mat-select placeholder="Select data example" (selectionChange)="onSelectionChange($event)">
    <mat-option *ngFor="let option of dataOptions" [value]="option.value" >{{ option.name }}</mat-option>
  </mat-select>
</mat-form-field>

<app-pulse-charts-heat-map
  [results]="results"
  [view]="view"
  [gradient]="false"
  [xAxis]="true"
  [yAxis]="true"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  [scheme]="colorScheme"
  [legend]="true"
  [gradient]="false"
  [adjustMinMax]="true"
></app-pulse-charts-heat-map>

<div>Note: Please, open developer console to see the input data differences. When the `data with missed hours` option is chosen, the Y-axis order becomes wrong.</div>
